<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Proof</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='src/adminPanel.css') }}">
</head>
<body>
    <div class="login-box">
        <h1>Admin LogIn</h1>
        <form>
            <input type="text" class="form-text-field" id="nick"><br><br>
            <input type="text" class="form-text-field" id="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>