<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ city_params['city'] }}</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='src/donation-button.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='src/footer.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='src/city-template.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;300;500;700&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body onload="onLoad({{ city_params['images'] }}, {{ city_params['texts'] }}, {{ city_params['id'] }})">
    <div class="slideshow">
        {%  for image in city_params['images'] %}
        <div class="image-container" id="image{{ city_params['images'].index(image) }}">
            <img src="{{ image }}">
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="column" id="left">
            <div class="city-name">{{ city_params['city'] }}</div>
            {% for text in city_params['texts'] %}
            <div class="text-box i{{ city_params['texts'].index(text) }}" id="text{{ city_params['texts'].index(text) }}">{{ text }}</div>
            {% endfor %}
        </div>
        <div class="column" id="right">
            <div class="switcher">
                <button type="button" class="but" id="back"><i class="arrow left"></i></button>
                <div class="but line"></div>
                <button type="button" class="but" id="forward"><i class="arrow right"></i></button>
            </div>
            <div class="past-box">
                <button type="button" class="past-button" id="button-past">View in the past</button>
                <img src="../static/DB/icon_portal.svg" class="rotate past-circle">
                <div class="past-text">This is an experimental feature. For your best experience, turn on your camera.</div>
            </div>
        </div>
        <footer class="main_footer">
            <div class="tablet footer-column" id="one">
                <h1 id="footer-title">The Price <span id="independence">of Independence</span></h1>
                <button class="donate-btn" id="footer-donate"><i class="fa fa-money-bill" id="money-icon"></i><h6>Donate</h6></button>
            </div>
            <div class="tablet two">
                <div class="tblt footer-column" id="two">
                    <div class="footer-cities">
                        {% for grid_element in grid_elements %}
                        <div class="main-footer-city" id="footer-city-item{{ grid_elements.index(grid_element) }}" onclick="gridItemClick({{ grid_elements.index(grid_element) }})">
                            {{ grid_element['city'] }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tblt footer-column" id="three">
                    <div class="write-to" id="creator">
                        Write to creators <span id="send-arrow">-></span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static',filename='js/city/source.js') }}"></script>
    <script src="{{ url_for('static',filename='js/footer.js') }}"></script>
</body>
</html>